<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
</IfModule>

ServerSignature Off
AddDefaultCharset UTF-8

ErrorDocument 404 /error404.php
ErrorDocument 400 /error404.php

# RewriteRule ^reg?$ reg.php [NC, L]
